body {
    margin: 0;
}

.container {
    margin: 0 auto;
    width: 940px;
    padding: 0 20px;
}

.nav {
    height: 100px;
    background-color: rgba(255,255,255,0.9);
}

.nav-item {
    
}

